{{#>profile-edit}}
<h2>Edit your profile</h2>
<form method="POST" autocomplete="off">
    <div class="flex flex-column">
        {{#userInfo}}
        <label for="edit-first">First name</label>
        <input class="bg-goldenrod text-carmine" type="text" name="edit-first" id="edit-first" value="{{first_name}}">
        <label for="edit-last">Last name</label>
        <input class="bg-goldenrod text-carmine" type="text" name="edit-last" id="edit-last" value="{{last_name}}">
        <label for="edit-email">Email</label>
        <input class="bg-goldenrod text-carmine" type="email" name="edit-email" id="edit-email" value="{{email}}">
        <label for="edit-password">Password</label>
        <input class="bg-goldenrod text-carmine" type="password" name="edit-password" id="edit-password">
        <label for="edit-age">Age</label>
        <input class="bg-goldenrod text-carmine" type="text" name="edit-age" id="edit-age" value="{{age}}">
        <label for="edit-city">City</label>
        <input class="bg-goldenrod text-carmine" type="text" name="edit-city" id="edit-city" value="{{city}}">
        <label for="edit-user-url">Website</label>
        <input class="bg-goldenrod text-carmine" type="text" name="edit-user-url" id="edit-user-url" value="{{url}}">
        <div class="flex flex-column align-center">
            <button class="bg-carmine text-goldenrod" type="submit" style="width: 50%; margin-top: 15px">Submit</button>
        </div>
        {{/userInfo}}
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
<form action="/profile/delete" method="POST">
    <button class="delete-btn" type="submit" style="color: #a44a3f">Delete your profile</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
{{/profile-edit}}